<table class="table table-bordered table-hover text-center">
    <thead class="bg-dark text-white">
        <tr>
            <th>SNo</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Location</th>
            <th>Show Details</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contacts" (click)="selectContact(contact)">
            <td>{{contact.login.uuid.substr(contact.login.uuid.length-5)}}</td>
            <td (click)="selectContact(contact)">{{contact.name.first}} {{contact.name.last}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.phone}}</td>
            <td>{{contact.location.city}}</td>
            <td (click)="selectContact(contact)"><button class="btn-primary">Details</button></td>
        </tr>
    </tbody>
</table>