<!-- 
<h1 class="text-center"> {{title}}</h1>

<div *ngIf="users.length>0; else nodata">

<table class="table table-bordered">
    <thead class="text-center bg-primary">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone</th>
             <th>DOB</th> 
        </tr>
    </thead>
    <tbody class="text-center">
        <tr *ngFor= "let user of users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.address.city}},  {{user.address.zipcode}}</td>
            <td>{{user.phone}}</td>
             <td>{{user.dob | date}}</td> 
        </tr>
    </tbody>
</table>
</div>

<ng-template #nodata>
<p class="alert alert-danger text-center">{{errorMessage}}</p>
</ng-template> -->



<nav class="navbar navbar-dark bg-danger">
    <a href="" class="navbar-brand">Angular with services</a>
</nav>

<!-- <app-user-list></app-user-list> -->

<!-- <app-contact-app></app-contact-app> -->
<app-album></app-album>

<router-outlet></router-outlet>